<div class="main">
  <div class="container-fluid">
    <div class="main-wrapper">
      <div class="row">
        <div class="col-md-8 index-listing">
          <h2>Latest posts</h2>
          <% page.posts.each(function (post) { %>
          <div class="row post-card">
            <% var col_num = "col-md-11" %>
            <% if(post.cover != null) { %>
            <% col_num = "col-md-7" %>
            <div class="col-md-4">
              <a href="<%- url_for(post.path) %>" style="background-image: url(<%- post.cover %>)" class="post-index-img" target="<%- theme.index.post_url_target %>"></a>
            </div>
            <% } %>
            <div class="<%- col_num %>">
              <a href="<%- url_for(post.path) %>" class="h3 title" target="<%- theme.index.post_url_target %>"><%= post.title %></a>
              <% if(post.description && post.description.length) { %>
              <p><%- post.description %>...</p>
              <% } else if(post.excerpt && post.excerpt.length) { %>
              <p><%- strip_html(post.excerpt) %>...</p>
              <% } else if(theme.index.auto_excerpt.enable){ %>
              <p><%- strip_html(post.content).substring(0,theme.index.auto_excerpt.length) %>...</p>
              <% } %>
              <% if(theme.index.post_info.enable){ %>
              <p class="h6">
                <i class="material-icons">date_range</i><%- date(post.date,"YYYY-MM-DD") %>
                <% if(post.tags.length) { %>
                <i class="material-icons">bookmark_border</i>
                <% post.tags.each(function(tag){ %>
                <a href="/archives/#<%- tag.name %>"><%= tag.name %></a>&nbsp;
                <% }) %>
                <% } %>
              </p>
              <% } %>
            </div>
          </div>

          <% }) %>
          <br><br>
          <%- partial('_partial/paginator') %>
        </div>
        <div class="col-md-4 instagram-sidebar">
          <h2><a href="https://instagram.com/lauren.n.bodnar" class="instagram-link">&nbsp;<i class="fa fa-instagram"></i>&nbsp;Instagram</a></h2>
          <%- instagramWall(12, 2, false)  %>
          <br>
          <p class="text-right" style="padding-right:10px">View more at <a href="https://instagram.com/lauren.n.bodnar" target="_blank">instagram.com/lauren.n.bodnar</a></p>
          <div class="comments">
          <%- partial('_partial/comments/' + theme.comments.type, page) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
