<!DOCTYPE html>
<html lang="en-US">

<%    share_description = '' %>
<% if(is_post()) { %>
<%    banner_img = page.banner_img || theme.post.banner_img || theme.index.banner_img %>
<%    share_img = url_for(page.cover || banner_img) %>
<%    var banner_img_height = theme.post.banner_img_height %>
<%    var subtitle = page.title %>
<%    share_description = strip_html(page.content).substring(0,50) + '...' %>
<% } else if(is_home()) { %>
<%    var banner_img = theme.index.banner_img %>
<%    share_img = url_for(page.cover || banner_img) %>
<%    var banner_img_height = theme.index.banner_img_height %>
<%    if(theme.index.subtitle.enable) { var subtitle = config.subtitle } %>
<% } else if (page.type == 'about'){ %>
<%    var banner_img = theme.about.banner_img || theme.index.banner_img %>
<%    share_img = url_for(page.cover || banner_img) %>
<%    var banner_img_height = theme.about.banner_img_height %>
<%    var subtitle = '' %>
<%    var body_class = "profile-page" %>
<% } else if(is_archive) { %>
<%    var banner_img = theme.archive.banner_img || theme.index.banner_img %>
<%    share_img = url_for(page.cover || banner_img) %>
<%    var banner_img_height = theme.archive.banner_img_height %>
<%    var subtitle = 'Archive' %>
<% } else { %>
<%    var subtitle = page.title %>
<%    var banner_img = theme.index.banner_img %>
<%    var banner_img_height = theme.index.banner_img_height %>
<%    share_img = url_for(page.cover || banner_img) %>
<% } %>

<%- partial('_partial/head') %>

<body class="<%- body_class %> sidebar-collapse page-type-<%= page.type || (is_home() ? 'is-home' : null) || (is_archive() ? 'archive' : null) || (is_post() ? 'post' : null)  %>">
  <%- partial('_partial/nav') %>


  <!-- <div class="page-header-wrapper page-header" style="height: <%- banner_img_height %>vh;"> -->
  <div class="page-header-bg page-header header-filter" data-parallax="false" style="background-image: url('<%- url_for(banner_img) %>'); height: <%- banner_img_height %>vh;">
  <!-- </div> -->
    <% if(!is_post()) { %>
    <div class="container-fluid">
      <div class="page-title">
      <h1 class="title text-center"><%- subtitle %></h1>
    </div>
    </div>
    <% } %>
  </div>

  <% if(is_post() || is_home()) { %>
    <%- body %>
  <% } else { %>
      <div class="main main-raised">
        <div class="container-fluid">
          <div class="section">
            <%- body %>
          </div>
        </div>
      </div>
  <% } %>

  <%- partial('_partial/footer') %>
</body>

</html>
